body{
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}
.clearDiv{
    clear: both;
}
.wrapper{
    width: 100%;
}
.header{
    widhth: 100%;
    padding: 40px 0;
}
.logo{
    width: 450px;
    font-size: 48px;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.nav{
    width: 100%;
    padding: 10px 0;
    background-color: #c34f4f;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;
}
.content{
    padding-top: 10px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    
}
.socials{
    width: 100%;
    text-align: center;
    background-color: #292929;

}
.socialsdivs{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.facebook{
    float: left;
    min-width: 250px;
    height: 155px;
}
.facebook:hover{
    background-color: #4668b3;
}
.youtube{
    float: left;
    min-width: 250px;
    height: 155px;
}
.youtube:hover{
    background-color: #d94348;
}
.twitter{
    float: left;
    min-width: 250px;
    height: 155px;
}
.twitter:hover{
    background-color: #3095d3;
}
.googleplus{
    float: left;
    min-width: 250px;
    height: 155px;
}
.googleplus:hover{
    background-color: #d95333;
}
.footer{
    text-align: center;
    background-color: #222222;
    padding: 30px; 
}
.sticky{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}
ol a{
    color: white;
    text-decoration: none;
    display: block
}
ol > li:hover > a{
    color:  #751b1b;
}
ol > li{ /* rodzic > potomek -stylizujemy/czytamy od prawej do lewej-stylizujemy elementy li które są potomkami ol */
   float: left;
   width: 150px;
   height: 40px;
   border-right: 1px dashed #751b1b;
}
ol > li:first-child{
    border-left: 1px dashed #751b1b;
}
ol > li:hover{
    background-color: #cf6969;
}